<!DOCTYPE html>
<html lang="en">

<head>
    <title>Write App</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=" stylesheet" href="/public/css/navbar.css">

    <style>
        body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
<nav class="navbar">
    <div class="navbar-text logo">Writer App</div>
    <ul class="navbar-menu">
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="/write">Create new</a></li>
    </ul>
</nav>


</body>

</html>