<!DOCTYPE html>
<html lang="en">

<head>
  <title>Write App</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"></script>
  <link rel=" stylesheet" href="/css/navbar.css">
  <script  src="/js/textarea.js"></script>
</head>

<body>
<nav class="navbar">
  <div class="navbar-text logo">Writer App</div>
  <ul class="navbar-menu">
    <li><a href="/">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="/write">Create new</a></li>
  </ul>

  <style>
    body {
      margin: 0;
      padding: 0;
    }
  </style>
</nav>

<h3>Write</h3>
<form action="" method="get">
  <textarea name="textarea" id="default"></textarea>
  <div>
    <input type="submit" value="save">
  </div>
</form>
</body>
</html>