:root {
    --baseColor: #606468;
}

/* helpers/hidden.css */

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* helpers/icon.css */

:root {
    --iconFill: var(--baseColor);
}

.icons {
    display: none;
}

.icon {
    block-size: 1em;
    display: inline-block;
    fill: var(--iconFill);
    inline-size: 1em;
    vertical-align: middle;
}

/* box */

:root {
    --bodyBackgroundColor: #2c3338;
    --bodyColor: var(--baseColor);
    --bodyFontFamily: "Open Sans";
    --bodyFontFamilyFallback: sans-serif;
    --bodyFontSize: 0.875rem;
    --bodyFontWeight: 400;
    --bodyLineHeight: 1.5;
}

.box {
    box-sizing: inherit;
    background-color: var(--bodyBackgroundColor);
    color: var(--bodyColor);
    font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
    font-size: var(--bodyFontSize);
    font-weight: var(--bodyFontWeight);
    line-height: var(--bodyLineHeight);
    display: inline-block;
    padding: 30px 30px 30px 30px;
    border-radius: 10px;
    width: 25%;
    /*max-width: 475px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 10px 10px 20px rgba(0,0,0,.20);
}

/* text_click */

.text_click {
    color: #eee;
    outline: 0;
    text-decoration: none;
}

.text_click:focus,
.text_click:hover {
    text-decoration: underline;
}

/* form */

:root {
    --formGap: 0.875rem;
}

input {
    background-image: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    transition: background-color 0.3s;
}

input[type="submit"] {
    cursor: pointer;
}

.form {
    display: grid;
    gap: var(--formGap);
}

.form input[type="password"],
.form input[type="text"],
.form input[type="submit"] {
    inline-size: 100%;
}

.form__field {
    display: flex;
}

.form__input {
    flex: 1;
}

/* modules/authentication.css */

:root {
    --authBorderRadus: 0.25rem;
    --authColor: #eee;

    --authInputBackgroundColor: #3b4148;
    --authInputHoverBackgroundColor: #434a52;

    --authLabelBackgroundColor: #363b41;

    --authSubmitBackgroundColor: #ea4c88;
    --authSubmitColor: #eee;
    --authSubmitHoverBackgroundColor: #d44179;
}

.auth {

    color: var(--authColor);
}

.auth label,
.auth input[type="text"],
.auth input[type="password"],
.auth input[type="submit"] {
    border-radius: var(--authBorderRadus);
    padding: 1rem;
}

.auth label {
    background-color: var(--authLabelBackgroundColor);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-inline: 1.25rem;
}

.auth input[type="password"],
.auth input[type="text"] {
    background-color: var(--authInputBackgroundColor);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.auth input[type="password"]:focus,
.auth input[type="password"]:hover,
.auth input[type="text"]:focus,
.auth input[type="text"]:hover {
    background-color: var(--authInputHoverBackgroundColor);
}

.auth input[type="submit"] {
    background-color: var(--authSubmitBackgroundColor);
    color: var(--authSubmitColor);
    font-weight: 700;
    text-transform: uppercase;
}

.auth input[type="submit"]:focus,
.auth input[type="submit"]:hover {
    background-color: var(--authSubmitHoverBackgroundColor);
}


.text--center {
    text-align: center;
}